  /*
COMPONENT BUTTON
*/
  * {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }

  #botao-personalizado {
    position: relative;
    width: 2vw;
    height: 2vw;
    font-weight: bold;
    border-radius: 10px;
  }


  .btn-primary {
    background-color: var(--quaternary-color);
    color: white;
    border: solid var(--quaternary-color) 2px;
  }

  .btn-primary:hover {
    background-color: white;
    color: var(--quaternary-color);
    transition: 0.4s;
    cursor: pointer;
  }

  .btn-secondary {
    background-color: white;
    color: var(--tertiary-color);
    border: solid var(--tertiary-color) 2px;
  }

  .btn-secondary:hover {
    background-color: var(--tertiary-color);
    color: white;
    border: solid white 2px;
    transition: 0.4s;
    cursor: pointer;
  }

  .btn-tertiary {
    background-color: var(--alert-color);
    border: solid var(--alert-color) 2px;
    color: white;
  }

  .btn-tertiary:hover {
    background-color: var(--alert-color-hover);
    border: solid var(--alert-color--hover) 2px;
    cursor: pointer;
    transition: 0.4s;
  }

  /*
COMPONENT INPUT --
*/

  #component-model-input {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2vw;
    width: 50%;

  }

  #component-model-input input {
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    font-size: 14pt;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    width: 100%;
  }

  .input-primary {
    border: 2px solid #16325B;
    background-color: rgba(34, 123, 148, 0.2);

  }

  .input-secondary {
    border: 2px solid #16325B;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    outline: none;
    font-size: 14pt;
    font-weight: bold;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    width: 100%;
  }


  #component-model-input label {
    font-size: 20px;
  }


  .label-primary {
    color: var(--primary-color);
  }

  .label-secondary {
    color: white;
  }

  /*
COMPONENT LOGO --
*/

  #box-logo {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  #box-logo span {
    color: var(--quaternary-color);
    margin-top: 30px;
    font-weight: bold;
    font-size: 20pt;
  }


  /*
  COMPONENTE BARRA
  */
  .top-bar {
    background-color: var(--primary-color);
    position: relative;
    z-index: 100;
  }

  .top-bar #logo {
    width: 4.5vw;
  }

  .top-bar #box-logo {
    width: 15vw;
  }

  .top-bar #box-logo span {
    margin: 5px;
    font-size: 1.5vw;
  }

  .desktop ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7vw;
  }

  .desktop li {
    border-bottom: solid var(--quaternary-color) 2px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .desktop li:hover {
    border-bottom: solid white;
    justify-content: center;
  }

  .desktop a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    font-size: 1.2vw;
  }

  .desktop a:hover {
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    border-radius: 5px 5px 0 0;
  }

  .mobile {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--quaternary-color);
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 999;
  }

  .mobile img {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .mobile a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 5vw;
    font-weight: bolder;
  }

  .mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile li {
    border-bottom: solid var(--primary-color) 1px;
    width: 80vw;
    text-align: center;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mobile li:hover {
    width: 90vw;
    background-color: white;
  }

  .mobile-bg {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
    justify-content: center;
  }

  .mobile-bg span {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 11vw;
    align-items: center;
  }

  .close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 11vw;
    align-items: center;
  }

  .close-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    order: -1;
    margin-top: 0;
    height: 13vw;
  }

  .btn-wrapper {
    cursor: pointer;
    order: -1;
    margin: 0 10px;
  }

  @media (max-width: 720px) {
    .desktop {
      display: none;
      justify-content: center;
    }

    .top-bar {
      display: flex;
      flex-direction: row;
      height: 13vw;
    }

    .logo-bar {
      padding: 0 8vw;
    }

    .top-bar #logo {
      width: 12vw;
    }

    .top-bar #box-logo {
      width: 10vw;
    }
  }

  @media (min-width: 720px) {
    .mobile-bg {
      display: none;
    }
  }

  .btn-wrapper img {
    width: 13vw;
  }

  .close img {
    width: 13vw;
  }


  /*
CARD BUTTON FUNCTIONS
*/
  .card-button-function {
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 10px;
    height: 3vw;
    width: 3vw;
    align-content: center;
    margin: 0.5vw;
  }

  .card-button-function img {
    position: relative;
    width: 100%;
    height: 60%;

  }

  .card-button-function:hover {
    background-color: var(--primary-color);
    transition: 0.2s;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    .card-button-function {
      width: 6vw;
      height: 6vw;
    }
  }



  select {
    border-radius: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: #16325B;
    background-color: white;
    border: 2px solid #16325B;
    outline: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    width: 100%;

  }

  select:focus {
    border-color: #285A8E;

    select option {
      font-size: 14pt;
      font-weight: normal;
      color: #16325B;
      background-color: white;
    }

    select option:checked {
      background-color: #285A8E;
      color: white;
    }

    select:focus-visible {
      color: #16325B;
    }

    select:hover {
      color: #16325B;
      background-color: #f0f0f0;
    }

    select+.custom-select-arrow {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      pointer-events: none;
      color: #16325B;
    }
  }