* {
  margin: 0;
  padding: 0;
}
:root {

}

#botao-personalizado {

  margin: 1vw;
  padding: 1vw;
}
.btn-primary {
  background-color: blue;
  color: white;
}

.btn-secondary {
  background-color: red;
  color: white;
}

.btn-tertiary {
  background-color: rgb(120, 120, 13);
  color: white;
} 