/*
vinão esse é o css principal, é o basico pra todas as paginas;
- cada pagina tambem tem o seu css especifico, o arquivo esta na pasta styles com o nome da pagina, por exemplo: style_login e tals
*/

@import url('style_responsivo.css');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Inria Sans", sans-serif;
}

:root {
--primary-color: #16325B;
--secondary-color: #78B7D0;
--tertiary-color: #227B94;
--quaternary-color: #FFC21F;
}


