@import url('index.css');

#main-box {
    height: auto;
    display: flex;
    flex-direction: row;

}

#supplier-cards {
    position: relative;
    width: 70%;
    overflow-y: auto;
    max-height: 85vh;
    padding-bottom: 40px;
}

#info-box {
    position: relative;
    background-color: var(--tertiary-color);
    min-height: 100vh;
    width: 30%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

#box-h1 {
    position: relative;
    text-align: center;
    margin: 1vw;
    color: var(--quaternary-color);
    font-size: 1vw;
}

#info-box form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

#info-box form button {
    position: relative;
    font-size: 1.3vw;
}

.supplier-card {
    background-color: var(--secondary-color);
    margin: 5vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    height: auto;
    width: 80%;
    border-radius: 1vw;
    color: white;
    font-size: 1.7vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}

#info-supp-card {
    position: relative;
    width: 80%;
    margin: 2vw;
    align-content: center;
}

@media (max-width: 768px) {
    #main-box {
        flex-direction: column;
    }

    #supplier-cards {
        width: 100%;
    }

    #info-box {
        width: 100%;
        min-height: auto;
        height: auto;
    }

    #info-box form {
        width: 90%;
        padding: 10px;
    }

    .supplier-card {
        width: 90%;
        font-size: 4vw;
    }

    #info-box form button {
        font-size: 3vw;
    }
}

#div-button-functions {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


/*ÁGINA EDITAR */
.supplier-edit #info-box {
    background-color: var(--primary-color);
    align-items: center;
    padding-top: 20vw;

}

.supplier-edit #form-box {
    position: relative;
    width: 80%;


}

.supplier-edit #form-box form {
    text-align: center;
    margin-top: 2vw;
}

.supplier-edit #form-box form h1 {
    color: var(--quaternary-color);
}



/**

css do box do filtro
**/

.filter-box {
    display: flex;
    flex-direction: row;

}

.filter-box input {
    position: relative;
    height: 10%;

}



/*
produtoo
*/

.product-page form {
    margin-top: -1vw;
}

.product-page form input, select {
    margin-bottom: -1vw; 
    box-sizing: border-box; /* Para garantir que o padding seja contido dentro do input */
}

.product-page form button {
    position: relative;
    height: 50%;
}


.product-page input, select {
    height: 28px; 
}

.product-page select {
    width: 100%;
    
}

.product-page #supplier-select {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
}

